html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.rounded{
    border-radius: 12px;
}

.box-shadow{
    box-shadow: var(--mat-sys-level1)
}

.content{
    margin: 24px auto;
    max-width: 800px;
    min-width: 380px;

    @media screen and (max-width: 880px) {
        max-width: 90%;
    }
}

.position-relative{
    position: relative;
}